body {
    background:url("https://raw.github.com/w601sxs/EtherLoops/master/etherloopsbg.png") no-repeat center center fixed;
    margin:0;
}

.backgroundlayer {
    background:rgba(40, 40, 40, 0.2);
    position: fixed;
    top: 200px;
    width: 101%;
    -moz-box-shadow: 0px 0px 20px rgba(0,204,0, .6);
    -webkit-box-shadow: 0px 0px 20px rgba(0,204,0, .6);
    box-shadow: 0px 0px 20px rgba(0,204,0, .6);
    margin-left: -10px;
}

#beat-bar{
    width:100%;
    height:30px;
    position: relative;
    top: 50px;
}

#id {
    position: absolute;
}

#sp {
    text-align: center;
    position: relative;
    margin: 30px 0px 30px 0px;
}

hr {
    border: 0;
    height: 1px;
    width: 800px;
    background-image: -webkit-linear-gradient(left, rgba(0,255,255,0), rgba(0,0,255,0.75), rgba(0,255,255,0));
    background-image:    -moz-linear-gradient(left, rgba(0,255,255,0), rgba(0,255,255,0.75), rgba(0,255,255,0));
    background-image:     -ms-linear-gradient(left, rgba(0,255,255,0), rgba(0,255,255,0.75), rgba(0,255,255,0));
    background-image:      -o-linear-gradient(left, rgba(0,255,255,0), rgba(0,255,255,0.75), rgba(0,255,255,0));
    margin: 3px 0px 3px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 2px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100);

p {
    text-align: center;
    margin-top: 0px;
    color: gray;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
}

a:visited, a:active, a:link {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
}

a:inactive{
    background:#2c3e50;
}

.btn {
    width: 5px;
    height: 5px;
    padding:20px 20px 20px 20px;
    text-decoration:none;
    text-align:center;
    color:#7f8c8d;
    cursor:pointer;
    background:#2c3e50;
    border:3px solid #34495e;
    transition-property:border .2s linear 0s;
    -moz-transition:border .2s linear 0s;
    -webkit-transition:border .2s linear 0s;
    -o-transition:border .2s linear 0s;
    font-size:25px;
}

 .buttonset {
      background: #00A287;
      height: 16px;
      padding: 10px 20px 20px;
 }
 
 section.content {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 20px;
 }

.btn:hover {
    border:3px solid gray;
}
.btn.active {
    border:3px solid #00CC00;
    color:#00CC00;
}

    .button-group-navigation li {
        display:inline-block;
        list-style:none;
        padding:0;
        margin:0;
        zoom:1;
        background:#7f8c8d;
    }
    .button-group-navigation li .btn {
        float:left;
        margin-left:-4px;
    }

    .button-group-navigation>.btn:first-child,.button-group-navigation li:first-child .btn {
        margin-left:0;
      -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    }
    .button-group-navigation>.btn:last-child,.button-group-navigation li:last-child>.btn {
        margin-right: 0;
      -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    }


.pushmenu { /*this is the nav*/
  background: #3c3933;
  font-family: Arial, Helvetics, sans-serif;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
}

.pushmenu h3 {
  color: #cbbfad;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  background: #282522;    
  height: 20px;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #56544e;
  border-bottom: 1px solid #312e2a;
  padding: 14px;
}

.pushmenu a:hover {
  background:#00A287;
}

.pushmenu a:active {
  background: #454f5c;
  color: #fff;
}

.pushmenu-left {
  left: -240px;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 240px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

#nav_list {
  background: url(https://raw.github.com/w601sxs/EtherLoops/master/icon_nav.png) no-repeat left top;
  cursor: pointer;
  height: 27px;
  width: 33px;
  text-indent: -99999em;
}

nav-list.active {
  background-position: -33px top;
}

 .buttonset {
      background: #00A287;
      height: 30px;
      padding: 10px 20px 20px;
 }
 
 section.content {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 20px;
 }
