<div class='background'>
        <p><a href='#'>140</a> | <a class='tempo' href='#' bpm='128'>128</a> | <a class='new-bpm' href='#' bpm='90'>90</a></p>
        <canvas id="beat-bar"></canvas>
       
        <div class='backgroundlayer'>
            <div id="sp" class="button-group-navigation" target="_blank">
                <div class="bass">
                    <span id="pad1" data-sound="sounds/VEEElectroLoop001.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad1" data-sound="sounds/VFX2Bass1128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad1" data-sound="sounds/VFX2Bass2128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad1" data-sound="sounds/VFX2Bass3128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                </div>
                <div class='loops'>
                    <hr>
                    <span id="pad2" data-sound="sounds/VEH2SpecialSounds-13copy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad3" data-sound="sounds/VEH2SpecialSounds-36copy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad4" data-sound="sounds/VEH2SpecialSounds-28copy.wav"><li><a class="btn" href="#"></a></li></span><br>
                    <span id="pad4" data-sound="sounds/VFX2Beat128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad4" data-sound="sounds/VFX2Loop006128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad4" data-sound="sounds/VFX2Loop006128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span><br>
                    <span id="pad4" data-sound="sounds/VFX2Loop006128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad4" data-sound="sounds/VFX2Loop006128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad4" data-sound="sounds/VFX2Loop006128BPMcopy.wav"><li><a class="btn" href="#"></a></li></span>
                    
                </div>
                <div class='drums'>
                    <hr>
                    <span id="pad5" data-sound="sounds/VEEElectroLoop001.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad5" data-sound="sounds/VEEElectroLoop007.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad5" data-sound="sounds/VEEElectroLoop352copy.wav"><li><a class="btn" href="#"></a></li></span>
                    <span id="pad5" data-sound="sounds/VEEElectroLoop455copy.wav"><li><a class="btn" href="#"></a></li></span>
                </div>
            </div>
        
        </div>
    </div>
     