<div class='background'>
    <p><a href='#'>140</a> | <a class='new-bpm' href='#' bpm='128'>128</a> | <a class='new-bpm' href='#' bpm='90'>90</a></p>
    <canvas id="beat-bar"></canvas>
    <div class='backgroundlayer'>
        <div id="sp" class="button-group-navigation" target="_blank">
            <div class="bass">

            </div>
            <div class='loops'>
                <hr>
                <span id="pad2" data-sound="sounds/piano_loop_90bpm.wav"><li><a class="btn" href="#"></a></li></span>
                
            </div>
            <div class='drums'>
                <hr>
                <span id="pad5" data-sound="sounds/drum_loop_90bpm.wav"><li><a class="btn" href="#"></a></li></span>

            </div>
        </div>
    
    </div>
</div>
